<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webank.webase.stat.front.FrontMapper">
	<resultMap id="basicResultMap" type="com.webank.webase.stat.front.entity.TbFront">
		<id column="front_id" javaType="java.lang.Integer" jdbcType="INTEGER"
			property="frontId" />
		<result column="chain_id" javaType="java.lang.Integer"
			jdbcType="INTEGER" property="chainId" />
		<result column="front_ip" javaType="java.lang.String" jdbcType="VARCHAR"
			property="frontIp" />
		<result column="front_port" javaType="java.lang.Integer"
			jdbcType="INTEGER" property="frontPort" />
		<result column="memory_total_size" javaType="java.lang.String"
			jdbcType="VARCHAR" property="memoryTotalSize" />
		<result column="memory_used_size" javaType="java.lang.String"
			jdbcType="VARCHAR" property="memoryUsedSize" />
		<result column="cpu_size" javaType="java.lang.String" jdbcType="VARCHAR"
			property="cpuSize" />
		<result column="cpu_amount" javaType="java.lang.String"
			jdbcType="VARCHAR" property="cpuAmount" />
		<result column="disk_total_size" javaType="java.lang.String"
			jdbcType="VARCHAR" property="diskTotalSize" />
		<result column="disk_used_size" javaType="java.lang.String"
			jdbcType="VARCHAR" property="diskUsedSize" />
		<result column="description" javaType="java.lang.String"
			jdbcType="VARCHAR" property="description" />
		<result column="create_time" javaType="java.time.LocalDateTime"
			jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" javaType="java.time.LocalDateTime"
			jdbcType="TIMESTAMP" property="modifyTime" />
	</resultMap>

	<insert id="add">
		insert into tb_front
		(front_id,chain_id,front_ip,front_port,memory_total_size,memory_used_size,cpu_size,cpu_amount,
		disk_total_size,disk_used_size,description,create_time,modify_time)
		values(#{frontId},#{chainId},#{frontIp},#{frontPort},#{memoryTotalSize},#{memoryUsedSize}
		,#{cpuSize},#{cpuAmount},#{diskTotalSize},#{diskUsedSize},#{description},NOW(),NOW())
		ON DUPLICATE KEY UPDATE
		memory_total_size=#{memoryTotalSize},memory_used_size=#{memoryUsedSize},
		cpu_size=#{cpuSize},cpu_amount=#{cpuAmount},disk_total_size=#{diskTotalSize},
		disk_used_size=#{diskUsedSize},modify_time=NOW()
	</insert>

	<select id="getCount" resultType="java.lang.Integer"
		parameterType="com.webank.webase.stat.front.entity.FrontParam">
		select count(1) from tb_front
		where 1=1
		<if test="chainId != null">
			and chain_id = #{chainId}
		</if>
		<if test="frontId != null">
			and front_id = #{frontId}
		</if>
		<if test="frontIp != null and frontIp !=''">
			and front_ip = #{frontIp}
		</if>
		<if test="frontPort != null">
			and front_port = #{frontPort}
		</if>
	</select>

	<select id="getList" resultMap="basicResultMap"
		parameterType="com.webank.webase.stat.front.entity.FrontParam">
		select * from tb_front
		where 1=1
		<if test="chainId != null">
			and chain_id = #{chainId}
		</if>
		<if test="frontId != null">
			and front_id = #{frontId}
		</if>
		<if test="frontIp != null and frontIp !=''">
			and front_ip = #{frontIp}
		</if>
		<if test="frontPort != null">
			and front_port = #{frontPort}
		</if>
	</select>

	<select id="getById" resultMap="basicResultMap">
		select * from tb_front where
		front_id = #{frontId}
	</select>

	<delete id="removeById">
		delete from tb_front where front_id=#{frontId}
	</delete>

</mapper>
