<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--对应mapper接口 -->
<mapper namespace="com.webank.webase.stat.data.mapper.GroupBasicDataMapper">
	<resultMap id="basicResultMap"
		type="com.webank.webase.stat.data.entity.TbGroupBasicData">
		<id column="id" javaType="java.lang.Long" jdbcType="BIGINT"
			property="id" />
		<result column="front_id" javaType="java.lang.Integer"
			jdbcType="INTEGER" property="frontId" />
		<result column="chain_id" javaType="java.lang.Integer"
			jdbcType="INTEGER" property="chainId" />
		<result column="group_id" javaType="java.lang.Integer"
			jdbcType="INTEGER" property="groupId" />
		<result column="size" javaType="java.lang.Long" jdbcType="BIGINT"
			property="size" />
		<result column="trans_count" javaType="java.lang.Long"
			jdbcType="BIGINT" property="transCount" />
		<result column="comment" javaType="java.lang.String" jdbcType="VARCHAR"
			property="comment" />
		<result column="create_time" javaType="java.time.LocalDateTime"
			jdbcType="TIMESTAMP" property="createTime" />
		<result column="modify_time" javaType="java.time.LocalDateTime"
			jdbcType="TIMESTAMP" property="modifyTime" />
		<result column="record_month" javaType="java.lang.Integer"
			jdbcType="INTEGER" property="recordMonth" />
	</resultMap>

	<insert id="add" parameterType="com.webank.webase.stat.data.entity.TbGroupBasicData">
		insert into
		tb_group_basic_data
		(front_id,chain_id,group_id,size,trans_count,comment,create_time,modify_time,record_month)
		values(#{frontId},#{chainId},#{groupId},#{size},#{transCount},#{comment},NOW(),NOW(),#{recordMonth})
	</insert>

	<select id="getCount" resultType="java.lang.Integer">
		select count(1) from
		tb_group_basic_data
		where 1 = 1
		<if test="chainId != null">
			and chain_id = #{chainId}
		</if>
		<if test="frontId != null">
			and front_id = #{frontId}
		</if>
		<if test="groupId != null">
			and group_id = #{groupId}
		</if>
		<if test="beginDate != null">
			<![CDATA[and create_time >= #{beginDate}]]>
		</if>
		<if test="endDate != null">
			<![CDATA[and create_time <= #{endDate}]]>
		</if>
	</select>

	<select id="getList" resultMap="basicResultMap">
		select * from
		tb_group_basic_data
		where 1 = 1
		<if test="chainId != null">
			and chain_id = #{chainId}
		</if>
		<if test="frontId != null">
			and front_id = #{frontId}
		</if>
		<if test="groupId != null">
			and group_id = #{groupId}
		</if>
		<if test="beginDate != null">
			<![CDATA[and UNIX_TIMESTAMP(#{create_time})*1000 >= #{beginDate}]]>
		</if>
		<if test="endDate != null">
			<![CDATA[and UNIX_TIMESTAMP(#{create_time})*1000 < #{endDate}]]>
		</if>
		<!-- <![CDATA[and DATE_FORMAT(create_time,'%Y-%m-%d %H:%i:%s') <= DATE_FORMAT(#{endDate},'%Y-%m-%d 
			%H:%i:%s')]]> -->
		order by id asc
		<if test="start != null and pageSize != null">
			limit #{start},#{pageSize}
		</if>
	</select>

</mapper>