<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"   
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.webank.webase.stat.table.TableMapper">
	<update id="createTbFront">
		CREATE TABLE IF NOT EXISTS tb_front (
		front_id int(11) NOT NULL COMMENT '前置编号',
		chain_id int(11) NOT NULL COMMENT '链编号',
		front_ip varchar(16) NOT NULL COMMENT '前置服务ip',
		front_port int(11) DEFAULT NULL COMMENT '前置服务端口',
		memory_total_size varchar(16) NOT NULL COMMENT '内存总量（单位：KB）',
		memory_used_size varchar(16) NOT NULL COMMENT '内存使用量（单位：KB）',
		cpu_size varchar(16) NOT NULL COMMENT 'CPU的大小（单位：MHz）',
		cpu_amount varchar(4) NOT NULL COMMENT 'CPU的核数（单位：个）',
		disk_total_size varchar(16) NOT NULL COMMENT '文件系统总量（单位：KB）',
		disk_used_size varchar(16) NOT NULL COMMENT '文件系统已使用量（单位：KB）',
		description varchar(1024) COMMENT '描述',
		create_time datetime DEFAULT NULL COMMENT '创建时间',
		modify_time datetime DEFAULT NULL COMMENT '修改时间',
		PRIMARY KEY (front_id),
		UNIQUE unique_chain_front (front_id, chain_id)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='前置信息表';
	</update>

	<update id="createTbGroup">
		CREATE TABLE IF NOT EXISTS tb_group (
		front_id int(11) NOT NULL COMMENT '前置编号',
		group_id int(11) NOT NULL COMMENT '群组编号',
		description varchar(256) COMMENT '描述',
		create_time datetime DEFAULT NULL COMMENT '创建时间',
		modify_time datetime DEFAULT NULL COMMENT '修改时间',
		PRIMARY KEY (front_id,group_id)
		) ENGINE=InnoDB AUTO_INCREMENT=200001 DEFAULT
		CHARSET=utf8 COMMENT='群组信息表';
	</update>

	<update id="createTbGroupBasicData">
		CREATE TABLE IF NOT EXISTS ${tableName} (
		id bigint NOT NULL AUTO_INCREMENT COMMENT '自增编号',
		front_id int(11) NOT NULL COMMENT '前置编号',
		group_id int(11) NOT NULL COMMENT '群组编号',
		size bigint NOT NULL COMMENT '群组物理大小',
		trans_count bigint NOT NULL COMMENT '群组交易量',
		comment varchar(256) COMMENT '备注',
		create_time datetime DEFAULT NULL COMMENT '创建时间',
		modify_time datetime DEFAULT NULL COMMENT '修改时间',
		PRIMARY KEY (id)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='群组基本数据表';
	</update>

	<update id="createTbNetworkData">
		CREATE TABLE IF NOT EXISTS ${tableName} (
		id bigint NOT NULL COMMENT '编号',
		front_id int(11) NOT NULL COMMENT '前置编号',
		group_id int(11) NOT NULL COMMENT '群组编号',
		total_in bigint NOT NULL COMMENT '总入流量（P2P_InBytes + SDK_InBytes）',
		total_out bigint NOT NULL COMMENT '总出流量（P2P_OutBytes + SDK_OutBytes）',
		timestamp bigint NOT NULL COMMENT '统计时间',
		PRIMARY KEY (id),
		INDEX idx_group (group_id)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8
		COMMENT='网络统计日志数据表';
	</update>

	<update id="createTbGasData">
		CREATE TABLE IF NOT EXISTS ${tableName} (
		id bigint NOT NULL COMMENT '编号',
		front_id int(11) NOT NULL COMMENT '前置编号',
		group_id int(11) NOT NULL COMMENT '群组编号',
		trans_hash varchar(128) NOT NULL COMMENT '交易hash',
		gas_used bigint NOT NULL COMMENT '交易消耗的gas',
		timestamp bigint NOT NULL COMMENT '统计时间',
		PRIMARY KEY (id),
		INDEX idx_group (group_id)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8
		COMMENT='交易Gas统计日志数据表';
	</update>

	<update id="createTbNodeMonitor">
		CREATE TABLE IF NOT EXISTS ${tableName} (
		id bigint NOT NULL COMMENT '编号',
		front_id int(11) NOT NULL COMMENT '前置编号',
		group_id int(11) NOT NULL COMMENT '群组编号',
		block_height bigint NOT NULL COMMENT '块高',
		pbft_view bigint NOT NULL COMMENT 'view',
		pending_transaction_count int(11) NOT NULL COMMENT '待交易数',
		timestamp bigint NOT NULL COMMENT '统计时间',
		PRIMARY KEY (id),
		INDEX idx_group (group_id)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8
		COMMENT='前置节点监控数据表';
	</update>

	<update id="createTbServerPerformance">
		CREATE TABLE IF NOT EXISTS ${tableName} (
		id bigint NOT NULL COMMENT '编号',
		front_id int(11) NOT NULL COMMENT '前置编号',
		cpu_use_ratio decimal NOT NULL COMMENT 'cpu利用率',
		disk_use_ratio decimal NOT NULL COMMENT '硬盘利用率',
		memory_use_ratio decimal NOT NULL COMMENT '内存利用率',
		rxbps decimal NOT NULL COMMENT '上行bandwith',
		txbps decimal NOT NULL COMMENT '下行bandwith',
		timestamp bigint NOT NULL COMMENT '统计时间',
		PRIMARY KEY (id)
		) ENGINE=InnoDB DEFAULT CHARSET=utf8 COMMENT='前置服务器性能数据表';
	</update>

	<update id="dropTable">
		DROP TABLE IF EXISTS ${tableName}
	</update>

</mapper>